#{@requester.display_name} has requested a buck refund for item #{@item.name}.

Click #{link_to 'here', edit_item_buck_refund_url(@item, @buck_refund)} to find out details.

Please note that accepting a buck refund request does not imply the item will be sent back to you.

If you have any questions, email us at #{mail_to 'help@bibandtuck.com'} or call us at #{BT_PHONE_NUMBER}.

xo

The B+T Team
