= form_for [:admin, @message] do |f|
  -if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :sender_id
    = f.text_field :sender_id
  .field
    = f.label :sender_type
    = f.text_field :sender_type
  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :body
    = f.text_field :body
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :hidden_at
    = f.text_field :hidden_at
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :original_message_id
    = f.text_field :original_message_id
  .field
    = f.label :spam
    = f.check_box :spam
  .actions
    = f.submit 'Save'
