#user_edit_password_page
  .error_notice{ :style => 'display:none;' }
  %h2 Change Password:
  .tip Password must be at least 6 characters
  = form_for @user, :url => { :action => 'update_password' }, :remote => true do |f|
    .line
      .label Old Password
      = f.password_field :current_password
    .line
      .label New Password
      = f.password_field :password
    .line
      .label Confirm new Password
      = f.password_field :password_confirmation
    .action
      = content_tag :button, 'Save', :type => :submit
