#photo_tips_page
  .main_title Photo Tips
  .row
    .desc>
      .title Have a friend handy?
      .text
        Ask them to shoot you while you strut your stuff. Style your outfit and either use a white wall
        or take a stroll outside.
    .photos> #{image_tag 'photo_tips_01.jpg'}#{image_tag 'photo_tips_02.jpg'}
  .row
    .desc>
      .title All alone?
      .text
        You don't need a second human to get ‘er done. Have a real camera? Use the self-timer. Prefer
        your smart phone? Use the self-portrait function (i.e. front view camera), point it at the mirror,
        or Use a self-timer app (like the 'Self Timer Apimac').
    .photos> #{image_tag 'photo_tips_03.jpg'}#{image_tag 'photo_tips_04.jpg'}
  .row
    .desc>
      .title Camera Shy?
      .text There's other ways to get creative.
    .photos> #{image_tag 'photo_tips_05.jpg'}#{image_tag 'photo_tips_06.jpg'}
  .row
    .desc>
      .title Light makes it look Right.
      .text
        Shoot in the daylight, outside or near a window. If that’s not an option, use enough light
        so that the colors and items are clearly visible.
    .photos> #{image_tag 'photo_tips_07.jpg'}#{image_tag 'photo_tips_08.jpg'}
  .row
    .desc>
      .title Close Ups.
      .text
        Take detailed shots of your pieces – Vintage button? colored seams? Subtle pattern?
        We want to see it all – up close.
    .photos> #{image_tag 'photo_tips_09.jpg'}#{image_tag 'photo_tips_10.jpg'}
